.About-Image{
    width:350px;
    border-radius: 80px;
}
.Abouts-Card{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap:30px;
    margin-top:80px;
    align-items: start; 
}
.About-Card{
    display:grid;
    grid-template-columns: 1fr;
    row-gap:30px;
    border-style: solid;
    border-color:white;
    border-radius: 80px;
    border-width: 4px;
    padding:40px;
    break-inside: avoid;
    height:500px;
}
.About-Text{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    text-align: center;
}
.About-Title{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:30px;
    text-align: center;
    margin-bottom:-5px;
    margin-top:-5px;
}
.About-Button{
    width:110px;
    height: 40px;
    background-color: transparent;
    border-style: solid;
    border-color:white;
    border-radius: 50px;
    color:white;
    font-size:20px;
    border-width: 3px;
    transition: background-color 0.5s ease;
}
.About-Button:hover{
    cursor:pointer;
    background-color:white;
    color:black;
}