.Contacts-Cards{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-top:200px;
    row-gap:20px;
    width:100%;
}

.Contact-Card{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width:80%;
    max-width:600px;
}

.Contact-Text{
    width:90px;
    background:white;
    padding:12px;
    border-top-left-radius:40px;
    border-bottom-left-radius:40px;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    text-align:center;
    font-size:25px;
    color:black;
}

.Contact-Value,
.Contact-Value-Link{
    flex:1;
    background:none;
    padding:10px 15px;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    border-top-right-radius:40px;
    border-bottom-right-radius:40px;
    border-style:solid;
    border-left:none;
    color:white;
    font-size:25px;
    text-align:left;
}

.Contact-Value-Link{
    text-decoration:none;
}

.Contact-Value-Link:hover{
    text-decoration: underline;
}

@media (max-width: 1024px){
    .Contact-Text{
        width:80px;
        font-size:22px;
        padding:10px;
    }
    .Contact-Value,
    .Contact-Value-Link{
        font-size:22px;
        padding-left:12px;
        height: 20px;
        justify-content: center;
        display:flex;
        align-items: center;
    }
}

@media (max-width: 768px){
    .Contact-Text{
        width:70px;
        font-size:20px;
        padding:8px;
        text-align: center;
    }
    .Contact-Value,
    .Contact-Value-Link{
        font-size:20px;
        padding-left:10px;
        height: 14px;
        justify-content: center;
        display:flex;
        align-items: center;
    }
}

@media (max-width: 414px){
    .Contact-Card{
        width:100%;
    }
    .Contact-Text{
        width:60px;
        font-size:16px;
        padding:6px;
    }
    .Contact-Value,
    .Contact-Value-Link{
        font-size:16px;
        padding-left:8px;
        height: 5px;
        justify-content: center;
        display:flex;
        align-items: center;
    }
}
