.Home-Main{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.Home-Text{
    margin-top:300px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:80px;
    text-align: center;
    line-height: 1;
}
.Text{
    font-size:50px;
}
.Sub-Text{
    font-weight: bold;
}