.Experience-Image{
    width:300px;
    margin-bottom:-60px;
}
.Experience-Card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style:solid;
    border-width: 4px;
    border-color:white;
    width:300px;
    padding-bottom:50px;
    padding-left:30px;
    padding-right:30px;
    border-radius: 10px;
    margin-top:60px;
    row-gap:4px;
    transition: all 0.5s ease;
    height:380px;
}
.Experience-Card.yes{
    background-color: white;
    height: 750px;

}

.Experience-Company,.Experience-Description,.Experience-Duration{
    margin-top:-10px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    font-size:25px;
    text-align: center;
}
.Experience-Title{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-size:25px;
    text-align: center;
}
.Experience-Title.yes{
    color:black;
}
.Experience-Button{
    width:120px;
    height: 45px;
    background-color: transparent;
    border-style: solid;
    border-color:white;
    border-radius: 50px;
    color:white;
    font-size:20px;
    border-width: 3px;
    transition: background-color 0.5s ease;
}
.Experience-Button.yes{
    border-color:black;
    color:black;
}
.Experience-Button.yes:hover{
    background-color:black;
    color:white;
}
.Experience-Button:hover{
    cursor:pointer;
    background-color:white;
    color:black;
}
