.Link{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:28px;
    margin-left:40px;
    border:3px solid transparent;
    border-radius: 30px;
    padding:8px;
    transition: border-color 0.5s ease;
    text-decoration: none;
}
.Link:hover{
    border-style:solid;
    border-color:white;
    border-radius:30px;
    padding:8px;
    cursor:pointer;
}
.Header-Container{
    display:flex;
    flex-direction: row;
    margin-top:30px;
    justify-content: center;
}

@media (max-width: 1024px){
    .Link{
        font-size:24px;
        margin-left:30px;
        padding:6px;
    }
    .Header-Container{
        margin-top:20px;
    }
}

@media (max-width: 768px){
    .Link{
        font-size:20px;
        margin-left:20px;
        padding:6px;
    }
    .Header-Container{
        margin-top:15px;
    }
}

@media (max-width: 414px){
    .Header-Container{
        display:grid;
        grid-template-columns: repeat(2, auto);
        justify-content: center;
        column-gap:60px;
        row-gap:12px;
        margin-top:10px;
    }
    .Link{
        margin-left:0;
        font-size:18px;
        padding:6px;
        text-align:center;
    }
}

