.Link{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:28px;
    margin-left:40px;
    border:3px solid transparent;
    border-radius: 30px;
    padding:8px;
    transition: border-color 0.5s ease;
    text-decoration: none;
}
.Link:hover{
    border-style:solid;
    border-color:white;
    border-radius:30px;
    padding:8px;
    cursor:pointer;
}
.Header-Container{
    display:flex;
    flex-direction: row;
    margin-top:30px;
    justify-content: center;
}